@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #ffffff;

/*----------- Main App -----------*/
.main-app-container {
  background-color: $main-bg-color;
  font-family: 'Raleway', sans-serif;
}

/*----------- Nav Bar -----------*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*----------- My Plots -----------*/
.plot-section {
  
}

.plot-warning {
  text-align: center;
  margin-top: 100px;
}

/*----------- Grid -----------*/
.grid-section {
  text-align: center;
}

.gridPlot {
  position: absolute;
}

.grid {
  outline-width: 3px;
  outline-color: lightgray;
  outline-style: solid;
}

.purchasePlot {
  background-color: #FFFFFF55;
  outline-color: red;
  outline-width: 2px;
  outline-style: dashed;
  background-blend-mode: lighten;
}

.purchaseTooltip {
  background-color: rgba($color: #000000, $alpha: 0.6);
  border-radius: 5px;
  display: inline;
  color: white;
  line-height: 35px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

/*----------- About -----------*/
.about-section span.glyphicon {
  margin-right: 10px;
}

.about-section div.well {
  background-image: none;
  background-color: $main-bg-color;
  border: none;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
}

.about-wellPadding {
  /* Workaround to make opening animation not jumpy*/
  padding: 20px;
}

.modalRow {
  height: 80px;
}

.modalLine {
  height: 40px;
  line-height: 40px;
}

.rectImage {
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: 220px;
  outline-color: lightgray;
  outline-style: solid;
  outline-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rectImageCaption {
  padding: 10px;
  text-align: center;
}
